{{> navbar }}

<div class="articles container">
  <div class="row">
    <div class="col-12">
      {{> article-card }}
    </div>
  </div>
</div>

<hr><hr>
<div id="wrapper">
  <div id="articles"></div>
  <div id="notes"></div>
</div>