body {
  background-image: url(../images/background.png);
}

nav {
  margin-bottom: 15px;
  box-shadow: 0 0 15px rgba(0,0,0, 0.5);
}

.navbar-nav {
  float: right;
}

.nav-item {
  margin-left: 5px;
}

#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
}
#notes {
  float: right;
  width: 30%;
}
textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}