body {
  background-image: url(../images/background.png);
}

nav {
  margin-bottom: 15px;
  box-shadow: 0 0 15px rgba(0,0,0, 0.5);
}

.navbar-nav {
  float: right;
}

.nav-item {
  margin-left: 5px;
}

.byline {
  font-size: 13px;
  color: #666
}

textarea, input {
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 5px 10px;
}

textarea {
  height: 200px;
  font-size: 18px;
}